body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.collapser {
	display: none;
}

input.short {
	width:30px;
}

td.expand {
	cursor:pointer;
}

td.expand:hover {
	background-color:#EEE;
}